.App {
    font-family: sans-serif;
    text-align: center;
  }
  
    body {
      margin: 0;
      font-family: 'Poppins';
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      min-height: 100vh;
      min-width: 100vw;
      overflow-x: hidden;
    }